<html>
<head>
    <title>Wildlife Cam </title>
    <link rel="stylesheet" href='/static/style.css'/>
</head>
<body>
<h1>Wildlife Cam Config</h1>

<form action="" method="post">

    {{ form.csrf_token() }}

    <h2>Motion Sensor</h2>
    {{ form.gpio_pin }}

    <h2>Telegram</h2>
    {{ form.telegram_enabled }}
    {{ form.telegram_api_key }}
    {{ form.telegram_chat_id }}

    <h2>FTP Upload</h2>
    {{ form.ftp_enabled }}
    {{ form.ftp_ip_address }}
    {{ form.ftp_ip_port }}
    {{ form.ftp_ip_user }}
    {{ form.ftp_ip_password }}
    {{ form.ftp_ip_directory }}

    <input type=submit value=Submit>
</form>
</body>
</html>
