<html>
<head>
    <title>Wildlife Cam </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<div class="form-wrapper">
    <form action="" method="post">
        {% macro render_field(field) %}
        {{ field.label }}
        {{ field(**kwargs)|safe }}
        <ul>
            {% for error in field.errors %}
            <li style="color:red;">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endmacro %}

        {{ form.csrf_token() }}

        <h1><img src="{{ url_for('static', filename='favicon-32x32.png') }}" alt="Squirrel"/>Wildlife Cam Config</h1>
        <p>Please note that making changes to the configuration of your Wildlife Cam will restart the service. It will
            take
            a couple of seconds until your Cam is up and running again.</p>

        <hr>
        <hr>
        <h3>Motion Sensor</h3>
        {{ render_field(form.gpio_pin) }}

        <hr>
        <h3>Telegram</h3>
        {{ render_field(form.telegram_enabled) }}
        {{ render_field(form.telegram_api_key) }}
        {{ render_field(form.telegram_chat_id) }}

        <hr>
        <h3>FTP Upload</h3>
        {{ render_field(form.ftp_enabled) }}
        {{ render_field(form.ftp_ip_address) }}
        {{ render_field(form.ftp_ip_port) }}
        {{ render_field(form.ftp_ip_user) }}
        {{ render_field(form.ftp_ip_password) }}
        {{ render_field(form.ftp_ip_directory) }}

        <input type=submit value=Submit class="submit-button">
    </form>
</div>
</body>
</html>
