<html>
<head>
    <title>Wildlife Cam </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
<div class="form-wrapper">
    {% macro render_field(field) %}
    {{ field.label }}
    {{ field(**kwargs)|safe }}
    <ul>
        {% for error in field.errors %}
        <li style="color:red;">{{ error }}</li>
        {% endfor %}
    </ul>
    {% endmacro %}

    <h1>Wildlife Cam Config</h1>
    {{ form.csrf_token() }}

    <h2>Motion Sensor</h2>
    {{ render_field(form.gpio_pin) }}

    <h2>Telegram</h2>
    {{ render_field(form.telegram_enabled) }}
    {{ render_field(form.telegram_api_key) }}
    {{ render_field(form.telegram_chat_id) }}

    <h2>FTP Upload</h2>
    {{ render_field(form.ftp_enabled) }}
    {{ render_field(form.ftp_ip_address) }}
    {{ render_field(form.ftp_ip_port) }}
    {{ render_field(form.ftp_ip_user) }}
    {{ render_field(form.ftp_ip_password) }}
    {{ render_field(form.ftp_ip_directory) }}

    <input type=submit value=Submit>
    </form>
</div>
</body>
</html>
